<template>
    <div>
        <h1>{{ h1 }}</h1>
        <TabDate />
        <LineChart
            class="mt-3"
        />
    </div>
</template>

<script>
    import LineChart from "@/components/LineChart";
    import TabDate from "@/components/TabDate";

    export default {
        components: {
            LineChart,
            TabDate,
        },
        data() {
            return {
                h1: this.$route.params.crypto + " | " + this.$route.params.fiat,
            };
        },
    };
</script>
