<template>
    <div>
        <AddCurrencyForm
            @add-currency="onAddCurrency"
        />
        <h2 class="text-start mt-5">
            Filter
        </h2>
        <hr>

        <!-- FILTERS BLOCK -->
        <div class="row">
            <div class="col-6">
                <div class="text-start mb-3">
                    Crypto currency:
                </div>
                <FilterCurrency />
            </div>
            <div class="col-6">
                <div class="text-start mb-3">
                    Fiat currency:
                </div>
                <FilterCurrency />
            </div>
        </div>
        <hr>

        <!-- MAIN BLOCK -->
        <main class="mt-3">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <CardCurrency
                    v-for="(item, index) in collection"
                    :key="index"
                    :crypto="item.crypto"
                    :fiat="item.fiat"
                    :value="item.value"
                />
            </div>
        </main>

        <!-- CHART BLOCK -->
        <div v-if="selectedPair">
            <h2 class="text-start mt-5">
                Graphic
            </h2>
            <hr>
            <BarChart />
        </div>
    </div>
</template>

<script>
    import BarChart from "@/components/BarChart";
    import AddCurrencyForm from "@/components/AddCurrencyForm";
    import CardCurrency from "@/components/CardCurrency";
    import FilterCurrency from "@/components/FilterCurrency";
    import { GET_CURRENCY, GET_CRYPTO_CURRENCY } from "@/store/modules/currency/types/getters";
    import { ADD_CURRENCY, FETCH_CURRENCY } from "@/store/modules/currency/types/actions";
    import namespace from "@/store/modules/currency/namespace";
    import { mapGetters, mapActions, mapState } from "vuex";

    export default {
        components: {
            BarChart,
            AddCurrencyForm,
            CardCurrency,
            FilterCurrency,
        },
        data() {
            return {
                selectedPair: false,
            };
        },
        computed: {
            ...mapGetters(namespace, {
                currency: GET_CURRENCY,
                cryptoCurrency: GET_CRYPTO_CURRENCY,
            }),
            ...mapState(namespace, {
                collection: "collection",
            }),
        },
        mounted() {
            this.fetchCurrency();
        },
        methods: {
            ...mapActions(namespace, {
                fetchCurrency: FETCH_CURRENCY,
                addCurrency: ADD_CURRENCY,
            }),
            onAddCurrency(data) {
                return this.addCurrency(data);
            },
        },
    };
</script>


<style lang="scss" scoped>
    .max-width {
        max-width: 15%;
    }
</style>
