<template>
    <div
        @keypress.enter="onSubmit"
    >
        <!-- SEARCH BLOCK -->
        <h2 class="text-start">
            Add new currency
        </h2>
        <hr>

        <div class="input-group">
            <input
                v-model="inputValue"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': error }"
                placeholder="Enter cryptocurrency here"
            >
            <select
                v-model="selectedFiatValue"
                class="form-select max-width"
                aria-label="Default select example"
            >
                <option
                    v-for="(currency, index) in fiatCurrencies"
                    :key="index"
                    :value="currency"
                >
                    {{ currency }}
                </option>
            </select>
            <button
                class="btn btn-outline-primary col-3"
                @click="onSubmit"
            >
                Add currency
            </button>
        </div>
        <div
            v-if="error"
            class="text-danger text-start mt-3"
        >
            Some error
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                selectedFiatValue: "UAH",
                localValue: "",
                fiatCurrencies: [
                    "UAH",
                    "USD",
                    "EUR",
                    "JPY",
                    "CAD",
                    "CHF",
                    "GBP",
                ],
                error: true,
            };
        },
        computed: {
            inputValue: {
                get() {
                    return this.localValue;
                },
                set(value) {
                    this.localValue = value.toUpperCase();
                },
            },
        },
        methods: {
            onSubmit() {
                this.$emit("add-currency", {crypto:this.inputValue, fiat:this.selectedFiatValue});
            },
        },

    };
</script>