<template>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    {{ crypto }} - {{ fiat }}
                </h4>
            </div>
            <div class="card-body">
                <div class="py-4 fw-bold fs-3">
                    {{ value }}
                </div>
                <div class="d-flex">
                    <router-link
                        :to="`/${crypto}/${fiat}`"
                        class="w-100 btn btn-lg btn-outline-primary me-1"
                    >
                        Details
                    </router-link>
                    <router-link
                        to="/delete"
                        class="w-100 btn btn-lg btn-outline-danger ms-1"
                    >
                        Delete
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            crypto: {
                type: String,
                required: true,
            },
            fiat: {
                type: String,
                required: true,
            },
            value: {
                type: Number,
                required: true,
            },
        },
    };
</script>