<template>
    <div class="d-flex">
        <button class="btn btn-light px-3 me-1">
            BTC
        </button>
        <button class="btn btn-light px-3 me-1">
            ETH
        </button>
    </div>
</template>

<script>
    export default {};
</script>